{ns hl7-fhir-uv-ips.abatement-dateTime-uv-ips,
 import #{zen.fhir hl7-fhir-r4-core.dateTime},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Extension defined by the IPS project to describe the abatement date for allergies",
         :zen.fhir/type "dateTime",
         :zen.fhir/profileUri "http://hl7.org/fhir/uv/ips/StructureDefinition/abatement-dateTime-uv-ips",
         :zen.fhir/version "0.6.29-4",
         :confirms #{hl7-fhir-r4-core.dateTime/schema},
         :fhir/flags #{:MS}}}
