{ns hl7-fhir-uv-ips.Condition-uv-ips,
 import #{hl7-fhir-r4-core.Condition
          zen.fhir
          hl7-fhir-uv-ips.Patient-uv-ips
          hl7-fhir-r4-core.value-set.body-site
          hl7-fhir-uv-ips.value-set.problem-type-uv-ips
          hl7-fhir-uv-ips.value-set.condition-severity-uv-ips
          hl7-fhir-uv-ips.CodeableConcept-uv-ips},
 schema {:zen.fhir/version "0.6.30-1",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4-core.Condition/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/uv/ips/StructureDefinition/Condition-uv-ips",
         :require #{:clinicalStatus :code},
         :type zen/map,
         :zen/desc "This profile represents the constraints applied to the Condition resource by the International Patient Summary (IPS) FHIR Implementation Guide. A record of a problem is represented in the patient summary as an instance of the Condition resource constrained by this profile.",
         :keys {:onset {:fhir/polymorphic true,
                        :type zen/map,
                        :fhir/flags #{:MS}},
                :category {:type zen/vector,
                           :every {:confirms #{hl7-fhir-uv-ips.CodeableConcept-uv-ips/schema},
                                   :fhir/flags #{:MS},
                                   :zen.fhir/value-set {:symbol hl7-fhir-uv-ips.value-set.problem-type-uv-ips/value-set,
                                                        :strength :extensible}}},
                :clinicalStatus {:confirms #{hl7-fhir-uv-ips.CodeableConcept-uv-ips/schema},
                                 :fhir/flags #{:MS}},
                :abatement {:fhir/polymorphic true,
                            :type zen/map,
                            :keys {:dateTime {:fhir/flags #{:MS}}},
                            :fhir/flags #{:MS}},
                :asserter {:fhir/flags #{:MS},
                           :confirms #{zen.fhir/Reference},
                           :zen.fhir/reference {:refers #{}}},
                :severity {:confirms #{hl7-fhir-uv-ips.CodeableConcept-uv-ips/schema},
                           :fhir/flags #{:MS},
                           :zen.fhir/value-set {:symbol hl7-fhir-uv-ips.value-set.condition-severity-uv-ips/value-set,
                                                :strength :preferred}},
                :code {:type zen/vector,
                       :slicing {:slices {}},
                       :confirms #{hl7-fhir-uv-ips.CodeableConcept-uv-ips/schema},
                       :fhir/flags #{:MS}},
                :bodySite {:type zen/vector,
                           :every {:confirms #{hl7-fhir-uv-ips.CodeableConcept-uv-ips/schema},
                                   :zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.body-site/value-set,
                                                        :strength :example}}},
                :verificationStatus {:confirms #{hl7-fhir-uv-ips.CodeableConcept-uv-ips/schema},
                                     :fhir/flags #{:MS}},
                :subject {:type zen/map,
                          :keys {:reference {:fhir/flags #{:MS}}},
                          :require #{:reference},
                          :fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-uv-ips.Patient-uv-ips/schema}}}},
         :zen.fhir/type "Condition"}}
