{ns hl7-fhir-uv-ips.ImagingStudy-uv-ips,
 import #{hl7-fhir-r4-core.ImagingStudy
          zen.fhir
          hl7-fhir-uv-ips.Patient-uv-ips
          hl7-fhir-uv-ips.CodeableConcept-uv-ips},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "This profile represents the constraints applied to the ImagingStudy resource by the IPS project, which specifies the information on a DICOM imaging study this imaging result is part of.\r\n",
         :zen.fhir/type "ImagingStudy",
         :zen.fhir/profileUri "http://hl7.org/fhir/uv/ips/StructureDefinition/ImagingStudy-uv-ips",
         :zen.fhir/version "0.6.30-12",
         :confirms #{hl7-fhir-r4-core.ImagingStudy/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:identifier {:type zen/vector,
                             :every {:fhir/flags #{:MS}}},
                :subject {:type zen/map,
                          :keys {:reference {:fhir/flags #{:MS}}},
                          :require #{:reference},
                          :fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-uv-ips.Patient-uv-ips/schema}}},
                :started {:fhir/flags #{:MS}},
                :procedureCode {:type zen/vector,
                                :every {:confirms #{hl7-fhir-uv-ips.CodeableConcept-uv-ips/schema},
                                        :fhir/flags #{:MS}}},
                :reasonCode {:type zen/vector,
                             :every {:confirms #{hl7-fhir-uv-ips.CodeableConcept-uv-ips/schema},
                                     :fhir/flags #{:MS}}},
                :series {:type zen/vector,
                         :every {:type zen/map,
                                 :keys {:uid {:fhir/flags #{:MS}},
                                        :modality {:fhir/flags #{:MS}},
                                        :instance {:type zen/vector,
                                                   :every {:type zen/map,
                                                           :keys {:uid {:fhir/flags #{:MS}},
                                                                  :sopClass {:fhir/flags #{:MS}}},
                                                           :fhir/flags #{:MS}}}},
                                 :fhir/flags #{:MS}}}}}}
