{ns hl7-fhir-uv-ips.Immunization-uv-ips,
 import #{hl7-fhir-uv-ips.value-set.target-site-uv-ips
          zen.fhir
          hl7-fhir-uv-ips.value-set.vaccines-uv-ips
          hl7-fhir-uv-ips.Patient-uv-ips
          hl7-fhir-uv-ips.value-set.medicine-route-of-administration
          hl7-fhir-r4-core.Immunization
          hl7-fhir-r4-core.data-absent-reason
          hl7-fhir-uv-ips.value-set.targetDiseases-uv-ips
          hl7-fhir-uv-ips.CodeableConcept-uv-ips},
 schema {:zen.fhir/version "0.6.30-14",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4-core.Immunization/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/uv/ips/StructureDefinition/Immunization-uv-ips",
         :require #{:vaccineCode :occurrence},
         :type zen/map,
         :zen/desc "This profile represents the constraints applied to the Immunization resource by the International Patient Summary (IPS) FHIR Implementation Guide. A record of an immunization is represented in the patient summary as an instance of an Immunization resource constrained by this profile.\r\n\r\nIt describes the event of a patient being administered a vaccination or a record of a vaccination as reported by a patient, a clinician or another party.",
         :keys {:patient {:type zen/map,
                          :keys {:reference {:fhir/flags #{:MS}}},
                          :require #{:reference},
                          :fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-uv-ips.Patient-uv-ips/schema}}},
                :protocolApplied {:type zen/vector,
                                  :every {:type zen/map,
                                          :keys {:targetDisease {:type zen/vector,
                                                                 :slicing {:slices {}},
                                                                 :every {:zen.fhir/value-set {:symbol hl7-fhir-uv-ips.value-set.targetDiseases-uv-ips/value-set,
                                                                                              :strength :preferred}}}}}},
                :site {:confirms #{hl7-fhir-uv-ips.CodeableConcept-uv-ips/schema},
                       :zen.fhir/value-set {:symbol hl7-fhir-uv-ips.value-set.target-site-uv-ips/value-set,
                                            :strength :preferred}},
                :vaccineCode {:type zen/vector,
                              :slicing {:slices {}},
                              :confirms #{hl7-fhir-uv-ips.CodeableConcept-uv-ips/schema},
                              :fhir/flags #{:MS},
                              :zen.fhir/value-set {:symbol hl7-fhir-uv-ips.value-set.vaccines-uv-ips/value-set,
                                                   :strength :preferred},
                              :zen/desc "Vaccine that was administered or was to be administered.Several kinds of vaccine product coding could be provided.\r\n\r\n     The IPS assumes that either the type of the vaccine for particular disease or diseases (e.g. MMR vaccine) against which the patient has been immunised is provided; or the known absent / unknown code.\r\n\r\n     Other coded information can be provided as well as: the IDMP Pharmaceutical Product Identifiers (PhPID), Medicinal Product Identifier (MPID), Packaged Medicinal Product Identifier (PCID), when available, or equivalent coded concepts; the WHO ATC codes; or any other kind of code that that identifies, classifies or cluster the administered product."},
                :route {:confirms #{hl7-fhir-uv-ips.CodeableConcept-uv-ips/schema},
                        :fhir/flags #{:MS},
                        :zen.fhir/value-set {:symbol hl7-fhir-uv-ips.value-set.medicine-route-of-administration/value-set,
                                             :strength :preferred}},
                :status {:fhir/flags #{:MS}},
                :occurrence {:fhir/polymorphic true,
                             :type zen/map,
                             :keys {:data-absent-reason {:confirms #{hl7-fhir-r4-core.data-absent-reason/schema},
                                                         :fhir/extensionUri "http://hl7.org/fhir/StructureDefinition/data-absent-reason",
                                                         :fhir/flags #{:MS},
                                                         :zen/desc "occurrence[x] absence reason"}},
                             :fhir/flags #{:MS}},
                :performer {:type zen/vector,
                            :every {:type zen/map,
                                    :keys {:actor {:fhir/flags #{:MS},
                                                   :confirms #{zen.fhir/Reference},
                                                   :zen.fhir/reference {:refers #{}}}},
                                    :fhir/flags #{:MS}},
                            :maxItems 1}},
         :zen.fhir/type "Immunization"}}
