{ns hl7-fhir-uv-ips.Media-observation-uv-ips,
 import #{zen.fhir
          hl7-fhir-uv-ips.Patient-uv-ips
          hl7-fhir-r4-core.Media
          hl7-fhir-uv-ips.CodeableConcept-uv-ips},
 schema {:zen.fhir/version "0.6.25-1",
         :confirms #{hl7-fhir-r4-core.Media/schema zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/uv/ips/StructureDefinition/Media-observation-uv-ips",
         :require #{:subject},
         :type zen/map,
         :zen/desc "This profile constrains the Media resource (which is a specialized observation).",
         :keys {:status {:const {:value "completed"},
                         :fhir/flags #{:MS}},
                :type {:confirms #{hl7-fhir-uv-ips.CodeableConcept-uv-ips/schema},
                       :fhir/flags #{:MS}},
                :subject {:type zen/map,
                          :keys {:reference {:fhir/flags #{:MS}}},
                          :require #{:reference},
                          :fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-uv-ips.Patient-uv-ips/schema}}},
                :operator {:fhir/flags #{:MS},
                           :confirms #{zen.fhir/Reference},
                           :zen.fhir/reference {:refers #{}}},
                :device {:fhir/flags #{:MS},
                         :confirms #{zen.fhir/Reference},
                         :zen.fhir/reference {:refers #{}}},
                :content {:fhir/flags #{:MS}}},
         :zen.fhir/type "Media"}}
