{ns hl7-fhir-uv-ips.Observation-pregnancy-edd-uv-ips,
 import #{hl7-fhir-r4-core.Observation
          zen.fhir
          hl7-fhir-uv-ips.Patient-uv-ips
          hl7-fhir-uv-ips.Observation-pregnancy-edd-uv-ips
          hl7-fhir-uv-ips.value-set.edd-method-uv-ips
          hl7-fhir-uv-ips.CodeableConcept-uv-ips},
 referenceRange-schema {:zen/tags #{zen/schema
                                    zen.fhir/structure-schema},
                        :zen.fhir/version "0.6.28"},
 schema {:zen.fhir/version "0.6.28",
         :confirms #{hl7-fhir-r4-core.Observation/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/uv/ips/StructureDefinition/Observation-pregnancy-edd-uv-ips",
         :require #{:effective :code :subject},
         :type zen/map,
         :zen/desc "This profile constrains the Observation resource to represent the pregnancy expected delivery date.",
         :keys {:referenceRange {:type zen/vector,
                                 :maxItems 0,
                                 :every {:confirms #{hl7-fhir-uv-ips.Observation-pregnancy-edd-uv-ips/referenceRange-schema}}},
                :specimen {:confirms #{zen.fhir/Reference},
                           :zen.fhir/reference {:refers #{}}},
                :_value {:type zen/map,
                         :keys {:dateTime {:fhir/flags #{:MS}}}},
                :component {:type zen/vector, :maxItems 0},
                :effective {:fhir/polymorphic true,
                            :type zen/map,
                            :fhir/flags #{:MS}},
                :code {:confirms #{hl7-fhir-uv-ips.CodeableConcept-uv-ips/schema},
                       :fhir/flags #{:MS},
                       :zen.fhir/value-set {:symbol hl7-fhir-uv-ips.value-set.edd-method-uv-ips/value-set,
                                            :strength :required}},
                :device {:confirms #{zen.fhir/Reference},
                         :zen.fhir/reference {:refers #{}}},
                :subject {:type zen/map,
                          :keys {:reference {:fhir/flags #{:MS}}},
                          :require #{:reference},
                          :fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-uv-ips.Patient-uv-ips/schema}}}},
         :zen.fhir/type "Observation"}}
