{ns hl7-fhir-uv-ips.Observation-alcoholuse-uv-ips,
 import #{hl7-fhir-r4-core.Observation
          zen.fhir
          hl7-fhir-uv-ips.Patient-uv-ips
          hl7-fhir-uv-ips.Quantity-uv-ips
          hl7-fhir-uv-ips.CodeableConcept-uv-ips},
 schema {:zen.fhir/version "0.6.29-4",
         :confirms #{hl7-fhir-r4-core.Observation/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/uv/ips/StructureDefinition/Observation-alcoholuse-uv-ips",
         :require #{:effective :code :subject},
         :type zen/map,
         :zen/desc "This profile constrains the Observation resource to represent alcohol use assessment in a patient summary.",
         :keys {:status {:fhir/flags #{:MS}},
                :code {:match {:coding #{{:system "http://loinc.org",
                                          :code "74013-4"}}},
                       :confirms #{hl7-fhir-uv-ips.CodeableConcept-uv-ips/schema},
                       :fhir/flags #{:MS}},
                :subject {:type zen/map,
                          :keys {:reference {:fhir/flags #{:MS}}},
                          :require #{:reference},
                          :fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-uv-ips.Patient-uv-ips/schema}}},
                :effective {:fhir/polymorphic true,
                            :type zen/map,
                            :fhir/flags #{:MS}},
                :value {:type zen/map,
                        :keys {:Quantity {:confirms #{hl7-fhir-uv-ips.Quantity-uv-ips/schema},
                                          :fhir/flags #{:MS}}}},
                :component {:type zen/vector, :maxItems 0}},
         :zen.fhir/type "Observation"}}
