{ns hl7-fhir-uv-ips.Patient-uv-ips,
 import #{zen.fhir
          hl7-fhir-r4-core.Patient
          hl7-fhir-r4-core.value-set.all-languages
          hl7-fhir-uv-ips.value-set.personal-relationship-uv-ips
          hl7-fhir-uv-ips.CodeableConcept-uv-ips},
 schema {:zen.fhir/version "0.6.30-13",
         :confirms #{hl7-fhir-r4-core.Patient/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/uv/ips/StructureDefinition/Patient-uv-ips",
         :require #{:name :birthDate :gender},
         :type zen/map,
         :zen/desc "This profile represents the constraints applied to the Patient resource by the International Patient Summary (IPS) FHIR Implementation Guide and describes the minimum expectations for the Patient resource when used in the IPS composition or in one of the referred resources.",
         :keys {:address {:type zen/vector,
                          :every {:fhir/flags #{:MS}}},
                :name {:type zen/vector,
                       :every {:type zen/map,
                               :keys {:text {:fhir/flags #{:MS}},
                                      :family {:fhir/flags #{:MS}},
                                      :given {:type zen/vector,
                                              :every {:fhir/flags #{:MS}}}},
                               :fhir/flags #{:MS}},
                       :minItems 1},
                :birthDate {:fhir/flags #{:MS}},
                :communication {:type zen/vector,
                                :every {:type zen/map,
                                        :keys {:language {:fhir/flags #{:MS},
                                                          :zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.all-languages/value-set,
                                                                               :strength :required}}},
                                        :fhir/flags #{:MS}}},
                :identifier {:type zen/vector,
                             :every {:fhir/flags #{:MS}}},
                :telecom {:type zen/vector,
                          :every {:fhir/flags #{:MS}}},
                :generalPractitioner {:type zen/vector,
                                      :every {:fhir/flags #{:MS},
                                              :confirms #{zen.fhir/Reference},
                                              :zen.fhir/reference {:refers #{}}}},
                :gender {:fhir/flags #{:MS}},
                :contact {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:relationship {:type zen/vector,
                                                        :every {:confirms #{hl7-fhir-uv-ips.CodeableConcept-uv-ips/schema},
                                                                :fhir/flags #{:MS},
                                                                :zen.fhir/value-set {:symbol hl7-fhir-uv-ips.value-set.personal-relationship-uv-ips/value-set,
                                                                                     :strength :required}}},
                                         :name {:fhir/flags #{:MS}},
                                         :telecom {:type zen/vector,
                                                   :every {:fhir/flags #{:MS}}},
                                         :address {:fhir/flags #{:MS}},
                                         :organization {:fhir/flags #{:MS},
                                                        :confirms #{zen.fhir/Reference},
                                                        :zen.fhir/reference {:refers #{}}}},
                                  :fhir/flags #{:MS}}}},
         :zen.fhir/type "Patient"}}
