{ns hl7-fhir-uv-ips.Practitioner-uv-ips,
 import #{zen.fhir hl7-fhir-r4-core.Practitioner},
 schema {:zen.fhir/version "0.6.23",
         :confirms #{hl7-fhir-r4-core.Practitioner/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/uv/ips/StructureDefinition/Practitioner-uv-ips",
         :require #{:name},
         :type zen/map,
         :zen/desc "This profile constrains the practitioner resource to represent a practitioner acting as observer for these imaging results.",
         :keys {:name {:type zen/vector,
                       :every {:type zen/map,
                               :keys {:family {:fhir/flags #{:MS}},
                                      :given {:type zen/vector,
                                              :every {:fhir/flags #{:MS}}}},
                               :fhir/flags #{:MS}},
                       :minItems 1},
                :telecom {:type zen/vector,
                          :every {:fhir/flags #{:MS}}},
                :address {:type zen/vector,
                          :every {:fhir/flags #{:MS}}}},
         :zen.fhir/type "Practitioner"}}
