{ns hl7-fhir-uv-ips.Quantity-uv-ips,
 import #{zen.fhir hl7-fhir-r4-core.Quantity},
 schema {:zen.fhir/version "0.6.22-2",
         :confirms #{hl7-fhir-r4-core.Quantity/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/uv/ips/StructureDefinition/Quantity-uv-ips",
         :require #{:system :code},
         :type zen/map,
         :zen/desc "Data type Quantity constrained to use UCUM as the code system for units",
         :fhir/flags #{:MS},
         :keys {:system {:const {:value "http://unitsofmeasure.org"},
                         :fhir/flags #{:MS},
                         :zen/desc "UCUM system for units"},
                :code {:fhir/flags #{:MS}}},
         :zen.fhir/type "Quantity"}}
