{ns hl7-fhir-uv-ips.SimpleQuantity-uv-ips,
 import #{hl7-fhir-r4-core.SimpleQuantity zen.fhir},
 schema {:zen.fhir/version "0.6.29",
         :confirms #{hl7-fhir-r4-core.SimpleQuantity/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/uv/ips/StructureDefinition/SimpleQuantity-uv-ips",
         :require #{:system :code},
         :type zen/map,
         :zen/desc "Data type profile SimpleQuantity constrained to use UCUM as the code system for units",
         :fhir/flags #{:MS},
         :keys {:system {:const {:value "http://unitsofmeasure.org"},
                         :fhir/flags #{:MS},
                         :zen/desc "UCUM system for units"},
                :code {:fhir/flags #{:MS}}},
         :zen.fhir/type "Quantity"}}
