{ns hl7-fhir-uv-ips.value-set.absent-or-unknown-allergies-uv-ips,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Absent or Unknown Allergies",
            :zen.fhir/version "0.6.30-7",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/uv/ips/CodeSystem/absent-unknown-uv-ips",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/uv/ips/ValueSet/absent-or-unknown-allergies-uv-ips",
            :version "1.0.0",
            :ftr {:module "hl7-fhir-uv-ips",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
