{ns hl7-fhir-uv-ips.value-set.current-smoking-status-uv-ips,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Value Set based on HL7 Vocab TC and Structured Doc consensus (per CDC submission 7/12/2012 for smoking status term)",
            :zen.fhir/version "0.6.30-7",
            :fhir/code-systems #{{:fhir/url "http://loinc.org",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/uv/ips/ValueSet/current-smoking-status-uv-ips",
            :version "1.0.0",
            :ftr {:module "hl7-fhir-uv-ips",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
