{ns hl7-fhir-uv-ips.value-set.healthcare-professional-roles-uv-ips,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "IPS Healthcare Professional Roles",
            :zen.fhir/version "0.6.25-1",
            :fhir/code-systems #{{:fhir/url "urn:oid:2.16.840.1.113883.2.9.6.2.7",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/uv/ips/ValueSet/healthcare-professional-roles-uv-ips",
            :version "1.0.0",
            :ftr {:module "hl7-fhir-uv-ips",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
