{ns hl7-fhir-uv-ips.value-set.medical-devices-uv-ips,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set includes codes from SNOMED Clinical Terms®: all descendants of 49062001 | Device (physical object)|.",
            :zen.fhir/version "0.6.30-11",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/uv/ips/ValueSet/medical-devices-uv-ips",
            :version "1.0.0",
            :ftr {:module "hl7-fhir-uv-ips",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
