{ns hl7-fhir-uv-ips.value-set.snomed-intl-gps,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "SNOMED International Global Patient Set (GPS) value set.    The value set includes all of the codes from the SNOMED International Global Patient Set (GPS)    subset of SNOMED CT.  The current version of the value set contains all concepts (21,782) from    the September 2019 release of the GPS (based on the July 2019 SNOMED CT International Edition    release) plus seven recently added concepts for Coronavirus (from the March 2020 Interim    International Release) (total 21,789 concepts).   \n\n   This value set is provided in this IG as a FHIR ValueSet resource instance for the convenience of implementers.   ",
            :zen.fhir/version "0.6.31",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/uv/ips/ValueSet/snomed-intl-gps",
            :version "1.0.0",
            :ftr {:module "hl7-fhir-uv-ips",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
