{ns hl7-fhir-uv-ips.value-set.targetDiseases-gps-uv-ips,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set includes the codes from the SNOMED International Global Patient Set (GPS) subset of SNOMED CT describing Vaccine Target Diseases. The concepts currently included in the value set are from the September 2019 release of the GPS, which is based on the July 2019 SNOMED CT International Edition release.",
            :zen.fhir/version "0.6.30-11",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/uv/ips/ValueSet/targetDiseases-gps-uv-ips",
            :version "1.0.0",
            :ftr {:module "hl7-fhir-uv-ips",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
