{ns hl7-fhir-uv-ips.value-set.whoatc-uv-ips,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "World Health Organization Anatomical Therapeutic Chemical (ATC) classification system.  Note: The currently implemented code system and the value set expansion contain only a set of example ATC codes, not the complete code system content.",
            :zen.fhir/version "0.6.29",
            :fhir/code-systems #{{:fhir/url "http://www.whocc.no/atc",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/uv/ips/ValueSet/whoatc-uv-ips",
            :version "1.0.0"}}
